<!DOCTYPE html5>
<html ng-app="logger">
	<head>
		<meta charset="utf-8"/>
		<!--
		<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
		<script src="node_modules/can/dist/can.jquery.min.js"></script>
		-->
		<script src="can.custom.js"></script>
		<script src="dist/app.js"></script>
	</head>
	<body>
		<div class="qsoList" ng-controller="qsoListController as list">
			<div class="qsoInput" ng-repeat="input in list.inputs" ng-controller="qsoInputController as input">
				<div>
					{{ input.rcvCall }}
					<form ng-submit="input.insert()">
						<input type="text" ng-model="input.rcvCall" ng-keydown="checkKey()" placeholder="Call" size="9" />
						<input type="text" ng-model="input.sntRS" placeholder="SntRS" size="3" />
						<input type="text" ng-model="input.sntN" placeholder="SntN" size="3" />
						<input type="text" ng-model="input.rcvRS" placeholder="RcvRS" size="3" />
						<input type="text" ng-model="input.rcvN" placeholder="RcvN" size="3" />
						<input type="submit" value="insert" />
					</form>
				</div>
				asda asda asda ttest
			</div>
		</div>
	</body>	
</html>
	
